{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
    <div class="forday">
        <img src="https://res.cloudinary.com/joannsajj/image/upload/v1606681940/r0umutdmc97qggi8kwex.jpg"
            class="img-fluid" alt="Responsive image">
    </div>
    <hr>
    <div class="container">
        <div class="row">
            {% for item in projects %}
            <div class="col-md-4">
                <div class="card ml-3 mr-3 mb-2" style="height: 10cm;">
                    <a href="{%  url 'single' item.id%}"><img src="{{item.project_image.url}}" class="card-img-top"
                            alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <hr>
                        <p> <a href="{% url 'userProfile' item.owner.user.username %}">By
                                {{item.owner.user.username}}</a><span style="float:right">{{item.created|date}}</span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}