{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
    <div class="forday">
        <img src="..." class="img-fluid" alt="Responsive image">
    </div>
    <div class="container">
        <div class="row">
            {% for item in projects %}
            <div class="col-md-4">
                <div class="card ml-3 mr-3">
                    <a href="{%  url 'single' item.id%}"><img src="{{item.project_image.url}}" class="card-img-top"
                            alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <hr>
                        <p> <a href="{% url 'userProfile' user.username%}">By {{item.owner.name}}</a><span
                                style="float:right">{{item.created|date}}</span></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}