{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
<div class="container">

    <div class="row">
        {% if projects %}
        <h2>Found {{ projects|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 users for the search term {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">
        {% if projects %}
        {% for item in projects %}
        <div class="col-md-4">
            <div class="card ml-3 mr-3">
                <a href="{%  url 'single' item.id%}"><img src="{{item.project_image.url}}" class="card-img-top"
                        alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <hr>
                    <p> <a href="{% url 'userProfile' user.username%}">By {{item.owner.name}}</a><span
                            style="float:right">{{item.created|date}}</span></p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}